@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
/*font-family: 'Nunito', sans-serif;*/

a{
	text-decoration: none;
}

html,body{
	width: 100%;
	height: 100%;
}

a,h1,h2,h3,p{
	font-family: 'Ubuntu', sans-serif;
	color: #2b2b2b;
}

h1{
	font-size: 4vw;
}

h2{
	font-size: 3vh;
}

.contain{
	width: 95%;
	margin: 0 auto;
}

body{
	background-color: #2f3037;
}

.fh{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c{
	width: 70%;
	height: auto;
	text-align: center;
}

.c > h1,h2{
	margin: 10px 0;
	color: azure;
}